// Global requirements
@import "variables";
@import "primer/mixins";

// Basic styles
@import "primer/normalize";
@import "primer/base";
@import "primer/layout";

@import "primer/utility";

// Sticky footer by flexbox

#app {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;

  min-height: 100vh;
}

header {
  padding: .5rem 0;
  color: $brand-gray-light;
  background-color: $brand-gray-dark;

  strong {
    color: #FFF;
  }
}

main {
  -webkit-box-flex: 1 0 auto;
  -webkit-flex: 1 0 auto;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
}

footer {
  //height: 100px;
  padding: .5rem 0;
  color: $brand-gray-light;
  background-color: $brand-gray-dark;

  strong {
    color: #FFF;
  }
}

.hello-message {
  width: 20%;
  height: 2em;
  color: yellow;
  background-color: blue;
}
